<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Price Predictor for Apartments in Poland</title>
</head>
<body>
<form method="post">
    <input type="text" name="city" value="Type city"/>
    <input type="text" name="district" value="Type district"/>
    <input type="text" name="radius" value="Type distance from the center"/>
    <input type="text" name="floor" value="Type floor"/>
    <input type="text" name="rooms" value="Type rooms"/>
    <input type="text" name="sq" value="Type sq"/>
    <input type="text" name="year" value="Type year"/>
    <input type="submit">
</form>

<p>Results: {{ result|safe }} </p>

</body>
</html>
